nav {
    display: flex;
    flex-direction: column;
    padding: 10px;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
}

nav svg {
    width: 25px;
    height: 25px;
    cursor: pointer;
}

nav svg:hover {
    color: var(--col1);
}

nav .s1 {
    width:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav img {
    width: 80px;
    height: 80px;
    padding-top: 8px;
    padding-left: 8px; 
}

nav .searchbar {
    display: flex;
    border: none;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
    border-radius: 20px;
    overflow: hidden;
    padding: 5px;
    justify-content: space-between;
    width: 50%;
}

nav .searchbar input {
    border: none;
    outline: none;
    width: 100%;
    font-size: 14px;
    text-align: center;
}

nav .searchbar svg {
    color: var(--col1);
    padding: 3px;
}

nav .searchbar button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

nav .searchbar svg:hover {
    background-color: var(--col1);
    border-radius: 50%;
    color: white;
    padding: 5px;
    
}

nav .s1 .right {
    display: flex;
    justify-content: space-between;
    gap: 6px;
    align-items: center;
    margin-right: 20px;
}

nav .cart {
    position: relative;
    margin: 0px 20px;
}

nav .cart .qty{
    background-color: var(--col1);
    color: white;
    border-radius: 50%;
    position: absolute;
    width: 20px;
    height: 20px;
    top: -10px;
    right: -8px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    text-align: center;
}

nav .s2 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    gap: 3%;
}

nav .s2 a {
    color: black;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    text-decoration: none;
}

nav .s2 a:hover{
    color: var(--col1);
}
