:root {
  --col1: rgba(42, 150, 74, 0.964);
  --col2: grey;
  --col3: rgba(216, 199, 199, 0.633);
}

* {
  margin: 0;
  padding: 0;
  font-family:'Trebuchet MS', sans-serif;
  font-weight: 400;
}

#dropdown-basic {
  outline: none;
  border: none;
  margin: 0px;
  padding: 0px;
}

.goback {
  background-color: var(--col1);
  color: white;
  border: none;
  outline: none;
  padding: 5px 20px;
  border-radius: 5px;
  font-size: 13px;
  cursor: pointer;
  margin: 10px 0px;
  display: flex;
  position: absolute;
  top: 10px;
  left: 10px;
}

.goback svg {
  margin-right: 5px;
  width: 15px;
  height: 15px;
}

.stylenone {
  text-decoration: none;
  color: inherit;
}